body{
    font-family: 'Questrial';
}

h2{
    font-size: 20px;
    text-align: center;
}
h3{
    font-size: 18px;
    color: #003172;
}

.titulo{
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 28px;
    color: #FFF;
	background-color:#192841;
	padding: 10px;

}
.subtitulo{
	font-size: 26px;
    justify-content: center;
    margin-top: 28px;
    color: #9F19D7;
	margin-left:auto;

}
#topico1{
	margin-left:+150px;
		font-size: 26px;
    justify-content: center;
    text-align: start;
    margin-top: 28px;
    color: #1B7CED;
}
#topico2{
	margin-left:+200px;
		font-size: 26px;
    justify-content: center;
    text-align: start;
    margin-top: 28px;
    color: #1B7CED;
}
#topico3{
	margin-left:+200px;
		font-size: 26px;
    justify-content: center;
    text-align: start;
    margin-top: 28px;
    color: #1B7CED;
}
#topico4{
	margin-left:+200px;
		font-size: 26px;
    justify-content: center;
    text-align: start;
    margin-top: 28px;
    color: #1B7CED;
}
#topico1:hover{
	transition: .3s;
    color: #FFC310;
}
#topico2:hover{
	transition: .3s;
    color: #FFC310;
}
#topico3:hover{
	transition: .3s;
    color: #FFC310;
}
#topico4:hover{
	transition: .3s;
    color: #FFC310;
}


.vila{
    margin-left: 6px;
    color: #003172;
}
.formosa{
    margin-left: 6px;
    color: #FFC310;
}
nav {
    background-color: #EFECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18%;
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
}
nav ion-icon.hbg{
    opacity: 0;
}
ul {
    font-family: 'Questrial';
    text-transform: uppercase;
    list-style: none;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 35px;
    font-size: 1.2rem;
}
nav a {
    color: #003172;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover {
    border-bottom: 1px solid #FFC310;
    transition: .3s;
    color: #FFC310;
}
img.etec{
    height: 145px;
    width: 140px;
}
.sobre {
    color: #003172;
    cursor: pointer;
}
.sobre:hover {
    border-bottom: 1px solid #FFC310;
    color: #FFC310;
}
.sobre ion-icon{
    font-size: 1.12rem;
    transition: .5s;
}
.sobre.ativo ion-icon{
    transition: .5s;
    transform: rotate(179deg);
}
.menu {
    position: absolute;
    right: 20%;
    width: 130px;
    height: 75px;
    background-color: #003172;
    border-radius: 20%;
    top: 85px;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.menu a{
    color: #ffffff;
}
.menu a:hover{   
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}
.menu ul {
    padding: 2px;
    display: flex;
    flex-direction: column;
}
.menu ul li{
    padding: 8px;
}
.menu.ativo{
    opacity: 1;
    visibility: visible;
}
.esquerda{
    position: absolute;
    height: 120px;
    width: 120px; 
    left: 0;
}
.direita{
    position: absolute;
    height: 120px;
    width: 120px;
    right: 0;
}
hr{
    border-color: #003172; 
    align-items: center;
    width: 80%;
    margin-top: 5%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    height: 100px;
    margin-bottom: 4%;
    margin-top: 7%;
    cursor: pointer;
}
.local{
    font-size: 5rem;
    color: #9F19D7;
    text-align: center;
    width: 25%;
    margin-left: 5%;
}
.mail{
    font-size: 5rem;
    color: #9F19D7;
    text-align: center;
    width: 30%;
}
.call{
    font-size: 5rem;
    color: #9F19D7;
    text-align: center;
    width: 22%;
    margin-right: 6%;
}
.divisoria{
    height: 100px;
    border-left: 2px solid #003172;
}
a{
	color:inherit;
	text-decoration:none;
}
img.lado{
    height: 240px;
    width: 230px;
    border-radius: 20%;
    border: 4px solid #003172;
}
img.centro{
    height: 300px;
    width: 500px;
    border-radius: 15%;    
    border: 3px solid #FFC310;
}
.imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 150px;
}
button{
    border-radius: 15%;
    height: 180px;
    width: 400px;
    border: 3px solid #FFC310;
    background-color: #ffffff;
    font-family: 'Questrial';
    font-size: 22px;
    color: #0A90DD;
    cursor: pointer;
    transition: .8s;
}
button:hover{
    transform: scale(0.8);
}
.trabalhos{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    gap: 7%;
    width: 100%;
    margin-bottom: 3%;
}
.trabalhos img{
    width: 50%;
    height: 65%;
    margin-bottom: 3%;
}
.noticia{
    text-align: center;
    background-color: #F4F4F4;
    width: 280px;
    height: 300px;
    border-bottom: 5px solid #003172;
    color: #003172;
    cursor: pointer;
    transition: .8s;
}
.noticia ion-icon{
    font-size: 11rem;
}
.noticia:hover{
    transform: scale(0.8);
}
.noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}
.Textschool ion-icon{ 
    color: #003172;
    font-size: 6rem;
    margin-bottom: -45px;
    cursor: pointer;
}
.Textschool{
    text-align: center;
    transition: .5s;
}
.Textschool.ativo{
    margin-top: 70px;
    margin-bottom: -45px;
    transform: rotate(179deg);
}
.school{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}
.school.ativo{
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: .6s;
}

@media only screen and (max-device-width: 995px) {
    img.centro{
        width: 80vw;
        border: 6px solid #003172;
        border-radius: 20%;
    }
    img.lado{
        opacity: 0;
        visibility: hidden;
    }
    .imagens{
        background-color: #003172;
        height: 38px;
        width: 100%;
        margin-top: 250px;
        margin-bottom: 14%;
        border-bottom: 25px solid #FFC310;
        border-top: 25px solid #FFC310;
    }
    .titulo{
        font-size: 50px;
        margin-bottom: 2%;
    }
    .vila{
        margin-left: 1%;
    }
    .formosa{
        margin-left: 1%;
    }
    h2{
        font-size: 13px;
        margin-left: 25%;
        margin-right: 25%;
    }
    h3{
        font-size: 30px
    }
    footer ion-icon{
        margin-top: 90px;
    }
    .call{
        margin-right: 10px;
    }
    h4{
        font-size: 42px;
        margin-bottom: 20px;
    }
    nav{
        gap: 50%;
    }
    nav ion-icon.hbg{
        opacity: 1;
        height: 110px;
        width: 110px;
        color: #003172;
    }
    nav ul.a{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }
    nav ul.a.ativo {
        width: 96%;
        height: 180px;
        font-size: 35px;
        position: absolute;
        margin-top: 340px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #EFECEC;
        align-items: baseline;
        border-bottom: 3px solid #003172;
        border-top: 3px solid #003172;
        opacity: 1;
        visibility: visible;
        transition: .3s;
    }
    .sobre ion-icon{
        transform: rotate(-92deg);
        font-size: 2rem;
    }
    .sobre.ativo ion-icon{
        transform: rotate(92deg);
    }
    .menu{
        height: 110px;
        width: 180px;
        top: 25px;
        left: 22%;
    }
    .menu a{
        font-size: 30px;
        color: #ffffff;
    }
    .menu ul{
        padding: 7px;
    }
    .menu.ativo{
        height: 110px;
        width: 180px;
        left: 22%;
    }
    .noticia{
        background-color: #F4F4F4;
        width: 90%;
        height: 320px;
        border-bottom: 5px solid #003172;
        color: #003172;
        cursor: pointer;
        transition: .8s;
        margin-bottom: 30px;
        font-size: 28px;
    }
    .noticia ion-icon{
        font-size: 11rem;
    }
    .noticia:hover{
        transform: scale(0.8);
    }
    .noticias{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .noticias h3{
        font-size: 40px;
        margin-bottom: 13px;
    }
    footer {
        margin-top: 80px;
        margin-bottom: 60px;
    }
    button{
        border-radius: 15%;
        height: 240px;
        width: 400px;
        border: 3px solid #FFC310;
        background-color: #ffffff;
        font-family: 'Questrial';
        font-size: 30px;
        color: #0A90DD;
        cursor: pointer;
        transition: .8s;
    }
    button:hover{
        transform: scale(0.8);
    }
    button img{
        margin-bottom: 3%;
    }
    .trabalhos{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f5f5f5;
        gap: 7%;
        width: 100%;
        height: 255px;
        margin-top: 3%;
        margin-bottom: 5%;
    }
    .trabalhos img{
        width: 60%;
        height: 70%;
    }
}
